---
layout: default
---
{% assign theme = site.data.themes[site.ui_theme] %}
<!-- ABOUT ME SECTION -->
<div id="about" class="card mx-auto border-0" style="position:relative;background-color:{{theme.home-background-color}};">
  <div class="row">
    <div class="col-md-4">
      {% if site.animate %}
        <img src="{{ site.profile_image }}" class="img-thumbnail float-left animate__animated animate__fadeInLeft shadow bg-white rounded" alt="...">
      {% else %}
        <img src="{{ site.profile_image }}" class="img-thumbnail float-left" alt="...">
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if site.animate %}
      <div class="card-body animate__animated animate__fadeInRight" style="color:{{theme.education-font-color}};">
      {% else %}
      <div class="card-body mt-0" style="color:{{theme.education-font-color}};">
      {% endif %}
        <p style="color:{{theme.education-font-color}};">{{ content | markdownify }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Positions Section -->
<div id="positions" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.position-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.position-font-color}};">
    {% endif %}
      <h2>Positions</h2>
      <!-- Include the Markdown content for Positions -->
      {% include positions.md %}
    </div>
  </div>
</div>

<!-- Current Research Section -->
<div id="current-research" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Current Research</h2>
      <!-- Include the Markdown content for Current Research -->
      {% include current-research.md %}
    </div>
  </div>
</div>

<!-- Publications Section -->
<div id="publications" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Publications</h2>
      <!-- Include the Markdown content for Publications -->
      {% include publications.md %}
    </div>
  </div>
</div>

<!-- Teaching Section -->
<div id="teaching" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Teaching</h2>
      <!-- Include the Markdown content for Teaching -->
      {% include teaching.md %}
    </div>
  </div>
</div>

<!-- Talks and Links Section -->
<div id="talks-links" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Talks and Links</h2>
      <!-- Include the Markdown content for Talks and Links -->
      {% include talks-and-links.md %}
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Contact</h2>
      <!-- Include the Markdown content for Contact -->
      {% include contact-info.md %}
    </div>
  </div>
</div>


<!-- ANIMATE.JS ANIMATE LIBRARY
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
-->


<!--JS FUNCTION FOR RECENT WORK SECTION -->
<script>
    $('#test-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script>

<!-- OPTIONAL TOAST JS FUNCTION-->
<script>
    $(document).ready(function() {
        $(".toast").toast("show");
    });
</script>


<script>
$('body').scrollspy({ target: '#list-example' })
</script>

<script>
$('.collapse').collapse()
</script>

<script>
$('.show').show()
</script>
