---
layout: default
---
{% assign theme = site.data.themes[site.ui_theme] %}

<!-- CSS for alternating solid background colors -->
{% assign theme = site.data.themes[site.ui_theme] %}

<!-- CSS for alternating solid background colors -->
<style>
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .container-fluid {
    padding: 0;
    width: 100%;
  }

  .bg-light {
    background-color: #f9f9f9; /* Light background color */
  }

  .profile-picture {
    margin-top: 28px; /* Adjust this value to control how much you want to lower the image */
  }

</style>

{% assign section_index = 0 %} <!-- Initialize counter -->

<!-- ABOUT ME SECTION -->
<div id="about" class="card mx-auto border-0" style="position:relative;background-color:{{theme.home-background-color}};">
  <div class="row">
    <div class="col-md-4 profile-picture"> <!-- Added profile-picture class here -->
      {% if site.animate %}
        <img src="assets/cropped.png" class="img-thumbnail float-left animate__animated animate__fadeInLeft shadow bg-white rounded" alt="...">
      {% else %}
        <img src="assets/cropped.png" class="img-thumbnail float-left" alt="...">
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if site.animate %}
      <div class="card-body animate__animated animate__fadeInRight" style="color:{{theme.education-font-color}};">
      {% else %}
      <div class="card-body mt-0" style="color:{{theme.education-font-color}};">
      {% endif %}
        <p style="color:{{theme.education-font-color}};">{{ content | markdownify }}</p>
      </div>
    </div>
  </div>
</div>


<!-- Positions Section -->
<div id="positions" class="container-fluid p-5 {% if section_index | modulo: 2 == 0 %}bg-light{% else %}bg-dark{% endif %}">
  <div class="row">
    <div class="col-md-12">
      {% if site.animate %}
      <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
      {% else %}
      <div class="card-body" style="color:{{theme.research-font-color}};">
      {% endif %}
        <h2>Positions and Awards</h2>
        {% capture my_include %}{% include positions.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
    </div>
  </div>
</div>

{% assign section_index = section_index | plus: 1 %}

<!-- Current Research Section -->
<div id="current-research" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Research</h2>
      <!-- Include the Markdown content for Current Research -->
      {% capture my_include %}{% include current-research.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>
</div>

<!-- Publications Section -->
<div id="publications" class="container-fluid p-5 {% if section_index | modulo: 2 == 0 %}bg-light{% else %}bg-dark{% endif %}">
  <div class="row">
    <div class="col-md-12">
      {% if site.animate %}
      <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
      {% else %}
      <div class="card-body" style="color:{{theme.research-font-color}};">
      {% endif %}
        <h2>Books</h2>
        {% capture my_include %}{% include publications.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
    </div>
  </div>
</div>

{% assign section_index = section_index | plus: 1 %}

<!-- Teaching Section -->
<div id="teaching" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Teaching</h2>
      <!-- Include the Markdown content for Teaching -->
      {% capture my_include %}{% include teaching.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>
</div>

<!-- Talks and Links Section -->
<div id="talks-links" class="container-fluid p-5 {% if section_index | modulo: 2 == 0 %}bg-light{% else %}bg-dark{% endif %}">
  <div class="row">
    <div class="col-md-12">
      {% if site.animate %}
      <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
      {% else %}
      <div class="card-body" style="color:{{theme.research-font-color}};">
      {% endif %}
        <h2>Talks and Links</h2>
        {% capture my_include %}{% include talks-and-links.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
    </div>
  </div>
</div>

{% assign section_index = section_index | plus: 1 %}

<!-- Contact Section -->
<div id="contact" class="row mt-4">
  <div class="col-md-12">
    {% if site.animate %}
    <div class="card-body animate__animated animate__fadeInUp" style="color:{{theme.research-font-color}};">
    {% else %}
    <div class="card-body" style="color:{{theme.research-font-color}};">
    {% endif %}
      <h2>Contact</h2>
      <!-- Include the Markdown content for Contact -->
      {% capture my_include %}{% include contact-info.md %}{% endcapture %}
      {{ my_include | markdownify }}
    </div>
  </div>
</div>


<!-- ANIMATE.JS ANIMATE LIBRARY
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
-->


<!--JS FUNCTION FOR RECENT WORK SECTION -->
<script>
    $('#test-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script>

<!-- OPTIONAL TOAST JS FUNCTION-->
<script>
    $(document).ready(function() {
        $(".toast").toast("show");
    });
</script>


<script>
$('body').scrollspy({ target: '#list-example' })
</script>

<script>
$('.collapse').collapse()
</script>

<script>
$('.show').show()
</script>
